<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Moul' rel='stylesheet'>
    <title>LIUGAME</title>
</head>
<body style="background-color: rgb(56, 4, 4);">
    

    <img src="/static/images/LIU.png" class="center">
    
    
    <div id="Year1" class="center1" style=" margin-top: -5%;">
        <h3 style="font-family: Moul; font-size:45px;">Year 1</h3>
        <hr style="margin-top: -45px;">
        <br>
        <br>
        
        <div id="levelsYear1" style="display: flex; gap: 40px; flex-wrap: wrap;"></div>
    </div>
    <div id="Year2" class="center1">
        <h3 style="font-family: Moul; font-size:45px;">Year 2</h3>
        <hr style="margin-top: -45px;">
        <br>
        <br>
        
        <div id="levelsYear2" style="display: flex; gap: 40px;flex-wrap: wrap;"></div>
    </div>
    <div id="Year3" class="center1">
        <h3 style="font-family: Moul; font-size:45px;">Year 3</h3>
        <hr style="margin-top: -45px;">
        <br>
        <br>
        
        <div id="levelsYear3" style="display: flex; gap: 40px;flex-wrap: wrap;"></div>
    </div>
    <div id="Year4" class="center1">
        <h3 style="font-family: Moul; font-size:45px;">Year 4</h3>
        <hr style="margin-top: -45px;">
        <br>
        <br>
        
        <div id="levelsYear4" style="display: flex; gap: 40px;flex-wrap: wrap;"></div>
    </div>
    <div id="Year5" class="center1">
        <h3 style="font-family: Moul; font-size:45px;">Year 5</h3>
        <hr style="margin-top: -45px;">
        <br>
        <br>
        
        <div id="levelsYear5" style="display: flex; gap: 40px;flex-wrap: wrap;"></div>
    </div>
    <style>
        .center {
            
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: -5%;
            transform: scale(0.5);
            
        }
        .center1 {
            
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: 2%;
            
            
        }
        
    </style>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
    integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/NoxGameScript.js"></script>
    
</body>
</html>